<div class="container-fluid">

    <span *ngIf="isorderEditable === false" (click)="editorder()" class="btn btn-success m-2">Edit</span>
    <span *ngIf="isorderEditable === true" (click)="cancelorder()" class="btn btn-success m-2">X</span>

    <div class="full_width" *ngIf="isorderEditable === true">
        <form [formGroup]="addmore" (ngSubmit)="onSubmit()">
            <div class="" formArrayName="itemRows">
                <div class="container" *ngFor="let itemrow of addmore.controls.itemRows['controls']; let i=index"
                    [formGroupName]="i">
                    <div class="form-group row">
                        <div class="form-group col-md-4">
                            <label>Order</label>
                            <input id="order{{i}}" formControlName="order" class="form-control">
                        </div>
                        <div class="form-group col-md-2">
                            <label>Rule</label>
                            <input id="rule{{i}}" formControlName="rule" class="form-control">
                        </div>
                        <div class="form-group col-md-2" *ngIf="addmore.controls.itemRows.controls.length != 0">
                            <label></label>
                            <span (click)="deleteRow(i)" class="btn btn-danger mt-4">-</span>
                        </div>
                    </div>
                </div>
            </div>
            <span (click)="addNewRow()" class="btn btn-success m-2">+</span>
            <button class="btn btn-primary m-2">Submit</button>
        </form>
    </div>

</div>